{% extends '/user/layout.html' %}

{% block content %}


<div class="row">
  <div class="col-md-12">

    <section>
      <div class="container ">
        <form id="form1" name="form1" method="post" action="/Get_Add_work" enctype="multipart/form-data">

          <div class="row">
          <div class=" col-md-6  p-0">
            <div>
              <div class="form-group">
                <br><br><br>
                <input type="text" class="form-control" required name="Work" placeholder="Enter Work Details">
              </div>
              <div class="form-group">
                <br><br>
                <input type="file" class="form-control" required name="Document">
              </div>
              <a onclick="getlocation()" class="btn btn-warning"> Show Position</a>
              <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
                  style="color: white;">Add
                  Work </span></button>
            </div>
          </div>
        </form>

          <div class=" col-md-6  pl-3">
            <div class=" map-contact  mt-5 " style="width: 500px; height: 300px; " id="demo"></div>
            <div id="h"></div>
          </div>
      </div>

      </div>
      </section>
  </div>
  
</div>

<script src="https://maps.google.com/maps/api/js?sensor=false"> </script>

<script type="text/javascript">
  function getlocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPos, showErr);
    }
    else {
      alert("Sorry! your Browser does not support Geolocation API")
    }
  }
  //Showing Current Poistion on Google Map  
  function showPos(position) {
    latt = position.coords.latitude;
    long = position.coords.longitude;
    var x = "Your current location is (" + "Latitude: " + latt + ", " + "Longitude: " + long + ")";
    document.getElementById("h").innerHTML = x;
    var lattlong = new google.maps.LatLng(latt, long);
    var myOptions = {
      center: lattlong,
      zoom: 15,
      mapTypeControl: true,
      navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
    }
    var maps = new google.maps.Map(document.getElementById("demo"), myOptions);
    var markers =
      new google.maps.Marker({ position: lattlong, map: maps, title: "You are here!" });
  }

  //Handling Error and Rejection  
  function showErr(error) {
    switch (error.code) {
      case error.PERMISSION_DENIED:
        alert("User denied the request for Geolocation API.");
        break;
      case error.POSITION_UNAVAILABLE:
        alert("USer location information is unavailable.");
        break;
      case error.TIMEOUT:
        alert("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        alert("An unknown error occurred.");
        break;
    }
  }        </script>

{% endblock %}