{% extends '/user/layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12 m-auto">
    <div class="container ">
      <h2 class="text-center font-weight-bold " style="color: #632343;">Request Work</h2>

      <table class="table mt-5">
        <tr>
          <th scope="col">Contractor Details </th>
          <th scope="col">Service </th>
          <th scope="col">Date </th>
          <th scope="col">Work </th>
          <th scope="col">Status </th>

        </tr>
        {% for i in val %}
        <tr>
          <td>{{i[1]}} {{i[2]}} <br>{{i[4]}} {{i[7]}}</td>
          <td>{{i[8]}}</td>
          <td>{{i[14]}}</td>
          <td>{{i[13]}}</td>
          <td>{{i[15]}}</td>
          <td><a href="" class="btn btn-primary">Massage</a></td>
          <td><a href="/View_WOrk_Deatails_Request_Work?id={{i[12]}}" class="btn btn-info">Work Details</a></td>
          <td><a href="/RemoveViewWorkREquest?id={{i[10]}}" class="btn btn-danger"
              onclick="return confirm('Are you sure?') ">Remove Request</a></td>
          <td><a href="/Sent_Complaints?id={{i[12]}}" class="btn btn-warning"> Complaint</a></td>
          <td><a href="/FeedBack?id={{i[12]}}" class="btn btn-secondary"> FeedBack</a>
          </td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>
</div>


</div>
{% endblock %}