{% extends '/user/layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12 m-auto">
    <div class="container ">
      <h2 class="text-center font-weight-bold " style="color: #632343;">Contractor Details</h2>

      <ul class="list-group mt-5 ">

        <li class="list-group-item"> <span class="text-center font-weight-bold" style="color: #632343;"> Name
            : </span>  {{val[1]}} {{val[2]}} <br>Place : {{val[4]}}<br> PhoneNumber : {{val[7]}}</li>
        <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Service
            : </span>{{val[8]}}</li>
        <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Skill &
            Experience
            :</span> {{val[12]}} {{val[13]}}</li>
        <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Works
            : </span>{{val[14]}}</li>

        <a href="/Work_Request " class="btn btn-primary  mt-3 float-right"> Work Request</a>
      </ul>
      <label for="" class="mt-5 font-weight-bold">FeedBacks</label>
      {% for i in val1%}
      <ul class="list-group  mb-5 ">

        <li class="list-group-item"> <span class="text-center font-weight-bold" style="color: #632343;"> User Name
            : </span>  {{i[1]}} {{i[2]}} <br> Place : {{i[3]}}  <br> PhoneNumber : {{i[6]}} </li>
        <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">FeedBack
            : </span><br> Date : {{i[11]}} <br> Commets : {{i[9]}}</li>


      </ul>
      {% endfor %}



    </div>
  </div>
  </form>

</div>

</div>
{% endblock %}