{% extends '/CONTRACTOR/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
    <form id="form1" name="form1" method="post" action="/edit_new_vacancy">

 
              <div>
                    <div class="form-group ">
                          <label class="text-center font-weight-bold">JOB NAME</label>
                          <input type="text" class="form-control"  name="textfield1" value="{{val[1]}}" >
                      </div>
           
                      <div class="form-group">
                          <label class="text-center font-weight-bold">VACCANCY</label>
                          <input type="text" class="form-control"  name="textfield2" value="{{val[2]}}">
                      </div>

                      <div class="form-group">
                        <label class="text-center font-weight-bold">DETAILS</label>
                        <input type="text" class="form-control" name="textfield3"  value="{{val[3]}}">
                      </div>
              </div>

                      <button type="submit" class="btn btn-primary float-right">update</button>
          
      </form>
   </div>
</div> </div>
      {% endblock %}