{% extends '/CONTRACTOR/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
        <h2 class="text-center font-weight-bold " style="color: #632343;">JOBS </h2>

  <form id="form1" name="form1" method="post" action="">
    <div class="row pt-1 ">
      <div class=" col-md-4"></div>
      <div class=" col-md-4"></div>
      <div class=" col-md-4">
         <a href="/add_new"  class="btn btn-primary mt-2">add new</a>
      </div>
    </div>
  </form>

  <table class="table mt-3">
    <tr>
      <th scope="col">JOB</th>
      <th scope="col">VACCANCY</th>
      <th scope="col">DETAILS</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   {% for i in  val %}
    <tr>
      <td>{{i[1]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[2]}}<br>{{i[4]}}</td>
      <td><a href="/edit_new?id={{i[0]}}" class="btn btn-info">edit</a>
      <a href="/delete?id={{i[0]}}" onclick="return confirm('Are you sure?')" class="btn btn-danger">delete</a></td>

    </tr>
      {% endfor %}
  </table>
  </div></div></div></div>


  {% endblock %}