{% extends '/CONTRACTOR/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">

  <table class="table mt-5">
    <tr>
      <th scope="col">User details</th>
      <th scope="col">Job details</th>
      <th scope="col">Date</th>
      <th scope="col">Apply Date</th>
      <th scope="col">Resume</th>

    </tr>
    {% for i in val %}
    <tr>
      <td>
        <b>Name : </b>{{i[1]}}{{i[2]}}<br>
        <b>Place : </b>{{i[3]}}<br>
        <b>Phone Number : </b>{{i[6]}}
      </td>

      <td><b>Job Name : </b>{{i[9]}} <br>
        <b>Qualification : </b>{{i[10]}}</td>
      <td>{{i[12]}}</td>
      <td>{{i[17]}}</td>
      <td><a href="{{ url_for('download', filename=i[19]) }}" class="btn btn-primary" >Job Resume</a> </td>
      <td><a href="/AcceptJobRequest?id={{i[14]}}" onclick="return confirm('Are you sure?')" class="btn btn-primary">Accept</a></td>
      <td><a href="/RejectJobRequest?id={{i[14]}}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Reject</a></td>

    </tr>
    {% endfor %}
  </table>
  </div>
</div> </div> </div>

{% endblock %}