
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>login</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
    
      <!-- Favicons -->
      <link href="../static/img/favicon.png" rel="icon">
      <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    
      <!-- Bootstrap CSS File -->
      <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
      <!-- Libraries CSS Files -->
      <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
      <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
      <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
      <!-- Main Stylesheet File -->
      <link href="../static/css/style.css" rel="stylesheet">
    
      <!-- =======================================================
        Theme Name: BizPage
        Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
        Author: BootstrapMade.com
        License: https://bootstrapmade.com/license/
      ======================================================= -->
    </head>
    
    <body>
    
      <!--==========================
        Header
      ============================-->
      <header id="header">
        <div class="container-fluid">
    
          <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">E contract</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="../static/img/logo.png" alt="" title="" /></a>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu"><a href="#intro">Home</a></li>
              <li><a href="/#about">Login</a></li>
              <li><a href="/signup#about">Signup</a></li>
    <!--          <li><a href="#services">Services</a></li>-->
    <!--          <li><a href="#portfolio">Portfolio</a></li>-->
    <!--          <li><a href="#team">Team</a></li>-->
    <!--          <li class="menu-has-children"><a href="">Drop Down</a>-->
    <!--            <ul>-->
    <!--              <li><a href="#">Drop Down 1</a></li>-->
    <!--              <li><a href="#">Drop Down 3</a></li>-->
    <!--              <li><a href="#">Drop Down 4</a></li>-->
    <!--              <li><a href="#">Drop Down 5</a></li>-->
    <!--            </ul>-->
    <!--          </li>-->
    <!--          <li><a href="#contact">Contact</a></li>-->
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->
    
      <!--==========================
        Intro Section
      ============================-->
      <section id="intro">
        <div class="intro-container">
          <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
    
            <ol class="carousel-indicators"></ol>
    
            <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active">
                <div class="carousel-background"><img src="../static/img/ja.jpg" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                   
    
    <!--                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>-->
                  </div>
                </div>
              </div>
    
              <div class="carousel-item">
                <div class="carousel-background"><img src="../static/img/ba.png" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                   
    <!--                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>-->
    <!--                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>-->
                  </div>
                </div>
              </div>
    
              <div class="carousel-item">
                <div class="carousel-background"><img src="../static/img/sarvaybanner19.jpg" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
               
    <!--                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>-->
    <!--                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>-->
                  </div>
                </div>
              </div>
    
    
            </div>
    
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
    
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
    
          </div>
        </div>
      </section><!-- #intro -->
    
      <main id="main">
  <!-- banner bottom section -->
  <section class="w3l-aboutblock py-5">
    <div class="container py-md-5 py-sm-4">
        <div class="row">
            <div class="col-lg-6 left-wthree-img mb-lg-0 mb-4">
                <img class="img-fluid img-responsive" src="../static/business.jpg" alt=" ">
            </div>
            <div class="col-lg-6 about-right-faq align-self pl-lg-5">
                <h2 class="font-weight-bold">Welcome to E Contract...</h2>
               
                <div class="mt-4 pt-md-2">
                    <div class="about-info-m d-flex">
                        <div class="icon-style-ab mr-4">
                            <i class="fas fa-donate"></i>
                        </div>
                        <div class="about-detail">
                            <h4>our strong values</h4>
                            <p> our strong value is to provide quality services and ideal delivery in international standerds</p>
                        </div>
                    </div>
                    <div class="mt-4 pt-md-2">
                        <div class="about-info-m d-flex">
                            <div class="icon-style-ab mr-4">
                                <i class="fas fa-donate"></i>
                            </div>
                            <div class="about-detail">
                                <h4>our enlightened vision</h4>
                                <p>to strive to be the bright beacom of success</p>
                            </div>
                        </div>
                    <div class="about-info-m d-flex mt-4">
                        <div class="icon-style-ab mr-4">
                            <i class="fas fa-donate"></i>
                        </div>
                        <div class="about-detail">
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
    
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
          <div class="container">
            <div align="center">
    {% block content %} {% endblock %}
            </div>
          </div>
        </section><!-- #about -->
    
    
    
      </main>
    
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
  
  
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>e contract</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
            -->
            Designed by <a href="">team b</a>
          </div>
        </div>
      </footer>
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      <!-- Uncomment below i you want to use a preloader -->
      <!-- <div id="preloader"></div> -->
    
      <!-- JavaScript Libraries -->
      <script src="../static/lib/jquery/jquery.min.js"></script>
      <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../static/lib/easing/easing.min.js"></script>
      <script src="../static/lib/superfish/hoverIntent.js"></script>
      <script src="../static/lib/superfish/superfish.min.js"></script>
      <script src="../static/lib/wow/wow.min.js"></script>
      <script src="../static/lib/waypoints/waypoints.min.js"></script>
      <script src="../static/lib/counterup/counterup.min.js"></script>
      <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
      <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
      <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    
      <script src="contactform/contactform.js"></script>
    
      <!-- Template Main Javascript File -->
      <script src="../static/js/main.js"></script>
    
    </body>
    </html>
    