
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>E Contract</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
    
      <!-- Favicons -->
      <link href="../static/img/favicon.png" rel="icon">
      <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    
      <!-- Bootstrap CSS File -->
      <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
      <!-- Libraries CSS Files -->
      <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
      <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
      <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
      <!-- Main Stylesheet File -->
      <link href="../static/css/style_copy.css" rel="stylesheet">
    
      <!-- =======================================================
        Theme Name: BizPage
        Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
        Author: BootstrapMade.com
        License: https://bootstrapmade.com/license/
      ======================================================= -->
    </head>
    
    <body>
    
      <!--==========================
        Header
      ============================-->
      <header id="header">
        <div class="container-fluid">
    
          <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">E Contract</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="../static/img/logo.png" alt="" title="" /></a>-->
          </div>
    

          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu"><a href="/Adminlaoyt">Home</a></li>
              <li><a href="/ViewContractor">CONTRACTORS</a></li>
              <li><a href="/view_users">USERS</a></li>
              <li><a href="/view_feedback">FEEDBACKS</a></li>
              <li><a href="/view_complains"> COMPLAIN AND REPLAYS</a></li>
              <li><a href="/block_user_and_contractor">BLOCK USERS AND CONTRACTORS</a></li>
              
    
    
              <li><a  href="logout"  onclick="return confirm('Are you sure?')" role="button">logout</a></li>
    
    
  
            </ul>
          </nav>
        </div>
      </header><!-- #header -->
    
      <!--==========================
        Intro Section
      ============================-->
      <section id="intro">
        <div class="intro-container">
          <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
    
            <ol class="carousel-indicators"></ol>
    
            <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active">
                <div class="carousel-background"><img src="../static/img/sarvaybanner19.jpg" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                   
    
    <!--                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>-->
                  </div>
                </div>
              </div>
    
           
    
          </div>
        </div>
      </section><!-- #intro -->
    
      <main id="main">
    
        <!--==========================
          Featured Services Section
        ============================-->
        <section id="featured-services">
          <div class="container">
    <!--        <div class="row">-->
    
    <!--          <div class="col-lg-4 box">-->
    <!--            <i class="ion-ios-bookmarks-outline"></i>-->
    <!--            <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>-->
    <!--            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
    <!--          </div>-->
    
    <!--          <div class="col-lg-4 box box-bg">-->
    <!--            <i class="ion-ios-stopwatch-outline"></i>-->
    <!--            <h4 class="title"><a href="">Dolor Sitema</a></h4>-->
    <!--            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>-->
    <!--          </div>-->
    
    <!--          <div class="col-lg-4 box">-->
    <!--            <i class="ion-ios-heart-outline"></i>-->
    <!--            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>-->
    <!--            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>-->
    <!--          </div>-->
    
            </div>
          </div>
        </section><!-- #featured-services -->
    
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
          <div class="container">
            <div align="center">
    {% block content %} {% endblock %}
            </div>
          </div>
        </section><!-- #about -->
    
    
    
      </main>
    
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
  
  
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>e contract</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
            -->
            Designed by <a href="">team b</a>
          </div>
        </div>
      </footer>
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

      <!-- Uncomment below i you want to use a preloader -->
      <!-- <div id="preloader"></div> -->
    
      <!-- JavaScript Libraries -->
      <script src="../static/lib/jquery/jquery.min.js"></script>
      <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../static/lib/easing/easing.min.js"></script>
      <script src="../static/lib/superfish/hoverIntent.js"></script>
      <script src="../static/lib/superfish/superfish.min.js"></script>
      <script src="../static/lib/wow/wow.min.js"></script>
      <script src="../static/lib/waypoints/waypoints.min.js"></script>
      <script src="../static/lib/counterup/counterup.min.js"></script>
      <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
      <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
      <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    
      <script src="contactform/contactform.js"></script>
    
      <!-- Template Main Javascript File -->
      <script src="../static/js/main.js"></script>
    
    </body>
    </html>
    