{% extends '/admin/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">

  <table  class="table mt-3">
    <tr>
      <th scope="col">User Details </th>
      <th scope="col">Feedback </th>
      <th scope="col">Date </th>
      <th scope="col">Contractor </th>

    </tr>
     {% for i in val %}
    <tr>
      <td>
       <b>Name : </b> {{i[1]}}{{i[2]}}<br>
        <b>Place : </b>{{i[3]}}<br>
       <b>Phone Number :</b> {{i[6]}}
      </td>
      <td>{{i[9]}}</td>
      <td>{{i[11]}}</td>
       <td>{{i[14]}} {{i[15]}}</td>
    </tr>
     {% endfor %}
  </table>
</div>
{% endblock %}
